@model List<double>

<div>
    <div class="row bottom">
        <form action="cmtoinches" method="post">
            <div class="col-md-4">
                <label for="cm" class="units peach Georgia">Centimeters:</label>
                <input name="cm" id="cminput" value="@Model[1]" class="inputs peach Calibri" type="number" min="0" step=".001" oninput="" />
            </div>
            <div class="col-md-4">
                <input name="submit" value="≈" type="submit" class="btn calibri peach sign" />
            </div>
            <div class="col-md-4">
                <label for="inches" class="units peach Georgia">Inches:</label>
                <input name="inches" id="inchinput" value="@Model[0]" class="inputs peach Calibri" type="number" min="0" step=".001" />
            </div>
        </form>
    </div>
</div>
<script>cmInput = document.getElementById("cminput");
inInput = document.getElementById("inchinput");

inInput.onkeyup = function() {
        cmInput.value = 0;
        if (isNAN(inInput.value)) {
            inInput.value = 0;
            cmInput.value = 0;
        }
};
cmInput.onkeyup = function() {
        inInput.value = 0;
        if (isNAN(cmInput.value)) {
            inInput.value = 0;
            cmInput.value = 0;
        }
}
};</script>