@model List<double>

<div>
    <div class="row bottom">
        <form action="cmtoinches" method="post">
            <div class="col-md-4">
                <label for="cm" class="units peach Georgia">Centimeters:</label>
                <input name="cm" id="cminput" placeholder="cm" class="inputs peach Calibri" type="number" min="0" step=".01" oninput="" />
            </div>
            <div class="col-md-4">
                <input name="submit" value="≈" type="submit" class="btn calibri peach sign"  />
            </div>
            <div class="col-md-4">
                <label for="inches" class="units peach Georgia">Inches:</label>
                <input name="inches" id="inchinput" placeholder="in" class="inputs peach Calibri" type="number" min="0" step=".01" />
            </div>
        </form>
    </div>
    <div class="row bottom">
        <div class="col-md-4">
            <span class="units peach Georgia">@Model[1]</span>
        </div>
        <div class=col-md-4></div>
        <div class="col-md-4">
            <span class="units peach Georgia">@Model[0]</span>
        </div>
    </div>
</div>
<script>
cmInput = document.getElementById("cminput");
inInput = document.getElementById("inchinput");

cmInput.onkeyup = function() {
        if (cmInput.value !== "") {
            inInput.disabled = true;
        } else {
            inInput.disabled = false;
        }
};

inInput.onkeyup = function() {
        if (inInput.value !== "") {
            cmInput.disabled = true;
        } else {
            cmInput.disabled = false;
        }
};</script>