@model List<double>
    <div>
        <div class="top row georgia">
            <div class="col-md-12">
                <p class="one Calibri">Unit</p>
                <hr>
                <p class="two Calibri">Converter</p>
            </div>
        </div>
        <div class="top row georgia">
            <div class="col-md-2 ">
                <a href="CmtoIn.cshtml" class="btn btn-secondary but peach but peach">Cm to In</a>
            </div>
            <div class="col-md-2 ">
                <a href="DollarsPounds.cshtml" class="btn btn-secondary but peach">Dollars to Pounds</a>
            </div>
            <div class="col-md-2 ">
                <a href="WattsHorsepower.cshtml" class="btn btn-secondary but peach">Watts to HP</a>
            </div>
            <div class="col-md-2 ">
                <a href="MilesKm.cshtml" class="btn btn-secondary but peach">Miles to Km</a>
            </div>
            <div class="col-md-2 ">
                <a href="FtoC.cshtml" class="btn btn-secondary but peach">F to C</a>
            </div>
            <div class="col-md-2 ">
                <a href="GallonsLiters.cshtml" class="btn btn-secondary but peach">Gallons to Litres</a>
            </div>
        </div>
        <div class="row bottom">
            <form action="cmtoinches" method="post">
                <div class="col-md-5">
                    <label for="cm" class="units peach Georgia">Centimeters:</label>
                    <input name="cm" value="@Model[1]" class="inputs peach Calibri" />
                </div>
                <input name="submit" type="submit" value="≈" class="col-md-2 sign peach Georgia">
                <div class="col-md-5">
                    <label for="inches" class="units peach Georgia">Inches:</label>
                    <input name="inches" value="@Model[0]" class="inputs peach Calibri" />
                </div>
            </form>
        </div>
    </div>
   