@model double
@{
    ViewData["Title"] = "DollarsPounds";
}



<div id="app">

    

    <div class="row bottom">
        <div class="col-md-5">
            <form action="ToPounds" method="post">
                <p>Dollars <input name="dollars" value="@Model"/></p>
                <input name="convert" type="submit" />

            </form>
        </div>
        <div class="col-md-2 sign peach Georgia">≈</div>
        <div class="col-md-5">
            <form action="ToDollars" method="post">
                <p>Pounds: <input name="pounds" value="@Model"/></p>
                <input name="convert" type="submit" />
            </form>

        </div>
        
    </div>
</div>

