@model List<double>
@{
    ViewData["Title"] = "FtoC";
}

<!--<h2>FtoC</h2>
<div>
    
        <p>Fahrenheit: <input name="F" /></p>
        <p>Celsius: <input name="C" /></p>
        
    </form>
    <p>
        
    </p>
</div> -->



<form action="toCelsius" method="post">
    <div class="row bottom">
        <div class="col-md-5">
            <p class="units peach Georgia">Fahrenheit:</p>
            <input name="F" class="inputs peach Calibri" />
        </div>
        <div class="col-md-2 sign peach Georgia">≈</div>
        <div class="col-md-5">
            <p class="units peach Georgia">Celsius:</p>
            <input name="C" class="inputs peach Calibri" />
            <p>
                <input name="submit" type="submit" />
            </p>
        </div>
    </div>
    </form>
<p>
    Celsius: @Model[1]
    Fahrenheit: @Model[0]
</p>
