@model List<double>
@{
    ViewData["Title"] = "FtoC";
}
<div>
    <div class="row bottom">
        <form action="ToCelsius" method="post">
            <div class="col-md-4">
                <label for="F" class="units peach Georgia">Fahrenheit:</label>
                <input name="F" id="Finput" placeholder="F" class="inputs peach Calibri" type="number" step=".001" oninput="" />
            </div>
            <div class="col-md-4">
                <input name="submit" value="≈" type="submit" class="btn calibri peach sign" />
            </div>
            <div class="col-md-4">
                <label for="C" class="units peach Georgia">Celsius:</label>
                <input name="C" id="Cinput" placeholder="C" class="inputs peach Calibri" type="number" step=".001" />
            </div>
        </form>
    </div>
    <div class="row bottom over">
        <div class="col-md-4">
            <span class="units peach Georgia">@Model[1]</span>
        </div>
        <div class=col-md-4></div>
        <div class="col-md-4">
            <span class="units peach Georgia">@Model[0]</span>
        </div>
    </div>
</div>
<script>
    FInput = document.getElementById("Finput");
    CInput = document.getElementById("Cinput");

    FInput.onkeyup = function () {
        if (FInput.value !== "") {
            CInput.disabled = true;
        } else {
            CInput.disabled = false;
        }
    };

    CInput.onkeyup = function () {
        if (CInput.value !== "") {
            FInput.disabled = true;
        } else {
            FInput.disabled = false;
        }
    };
</script>