@model List<double>
@{
    ViewData["Title"] = "GallonsLiters";
}

<div class="row bottom">
    <form action="ConvertGL" method="post">
        <div class="col-md-5">
            <p class="units peach Georgia">Gallons:</p>
            <input name="gallons" class="inputs peach Calibri" />
        </div>
        <div class="col-md-2 Georgia" style="vertical-align: baseline">
            <input name="submit" type="submit" />
            <p>
                Gallons: @Model[0]
                <br>
                Liters: @Model[1]
            </p>
        </div>
        <div class="col-md-5">
            <p class="units peach Georgia">Liters:</p>
            <input name="liters" class="inputs peach Calibri" />
        </div>
        <br>
    </form>
</div>