@model List<double>
    <div>

        <div class="row bottom" id="app">
            <form action="milesKm" method="post">
                <div class="col-md-4">
                    <label for="input1" class="units peach Georgia">Miles:</label>
                    <input name="input1" value="@Model[0]" class="inputs peach Calibri" id="input11" type="number" step=".001" />
                </div>
                <div class="col-md-4">
                    <input name="submit" value="≈" type="submit" class="btn calibri peach sign" />
                </div>                <div class="col-md-4">
                    <label for="input2" class="units peach Georgia">Kilometers:</label>
                    <input name="input2" value="@Model[1]" class="inputs peach Calibri" id="input22" type="number" step=".001" />
                </div>
            </form>
        </div>
    </div>
<script>

    miles = document.getElementById("input11");
        km = document.getElementById("input22");


    km.onkeyup = function () {
        miles.value = 0;
        if (isNAN(km.value)) {
            km.value = 0;
            miles.value = 0;
        }
    };
           miles.onkeyup = function() {
                km.value = 0;
                if (isNAN(miles.value)) {
                    km.value = 0;
                    miles.value = 0;
                }
            }
</script>